@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.banner_background {
  background-image: url("../app/Assets/Images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_img {
  background-image: url("../app/Assets/Images/Banner_img_md.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.choose_us_bg1 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 223, 124, 0.5) 0%,
    rgba(246, 251, 248, 0) 100%
  );
  width: 250px;
  height: 250px;
  z-index: 0;
}
.choose_us_bg {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fab7b8 0%,
    rgba(246, 251, 248, 0) 100%
  );
  width: 350px;
  height: 350px;
  z-index: 0;
}
.testimonial_bg {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(83, 128, 234, 0.5) 0%,
    rgba(246, 251, 248, 0) 100%
  );

  width: 350px;
  height: 350px;
  z-index: 0;
}
.choose_us_card {
  background: #fff;
  height: 385px;
  width: 335px;
  box-shadow: 2px 10px 40px 0px rgba(83, 128, 234, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 18px;
}
.testimonial_card {
  width: 454px;
  padding: 25px 32px 32px 22px;
  border-radius: 4px;
  border: 3px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 12px 50px 0px rgba(83, 128, 234, 0.16);
  backdrop-filter: blur(50px);
  display: flex;
}


/* responsive  */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .banner_img {
    background-image: url("../app/Assets/Images/Banner_img_md.png");
  }
  .testimonial_bg {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 688px) {
  .banner_img {
    background-image: url("../app/Assets/Images/Banner_img_sm.png");
  }
  .choose_us_bg {
    width: 200px;
    height: 200px;
  }
  .testimonial_bg {
    width: 200px;
    height: 200px;
  }
  .testimonial_card {
    width: 350px;
    
  }
}
